{% extends "videos/base.html" %}
{% block content %}
<div id="wrapper">
    {% include "videos/sidebar.html" %}
    <div id="content-wrapper">
        <div class="container-fluid pb-0">
            <div class="video-block section-padding">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="row d-flex justify-content-between">
                            <h3>Playlist: {{ playlist.name }}</h3>
                            <p class="tags mb-0">
                                <span><a href="{% url 'delete_playlist' playlist.pk %}">Delete Playlist</a></span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    {% if videos %}
                        {% for video in videos %}
                        <div class="col-xl-3 col-sm-6 mb-3">
                            <div class="video-card">
                                <div class="video-card-image">
                                        <a href="{% url 'video_detail' video.pk %}"><img class="img-fluid" src="/media/{{ video.thumbnail }}" alt=""></a>
                                </div>
                                <div class="video-card-body">
                                    <div class="video-title">
                                        <a href="{% url 'video_detail' video.pk %}">{{ video.title }}</a>
                                    </div>
                                    <div class="container">
                                        <div class="row">
                                            {% for tag in video.tags.all %}
                                            <div class="video-page text-success">
                                                {{ tag }}&nbsp;&nbsp;
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="video-view">
                                        <i class="fa fa-calendar"></i> {{ video.date_posted | date:"M d, Y" }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    {% else %}
                        <h3>No videos added!</h3>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
